// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$brand: #2f3c48;
$cream: #faf8f0;
$brownie: #8a6d3b;

.page-container .page-content {
	min-height: 100vh;
}

table {
	tbody tr{
		border-left-width: 3px;
		&:hover {
			background: rgba($cream, 1) !important;
			border-left: 3px solid $brownie;
			td {
				background: transparent !important;
				color:$brownie;
			}
		}
	}
}
